<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
</head>
<body>
<h1>Create Event</h1>
<nav th:replace="fragments :: navigation"></nav>
<form method = "post" th:action="@{/events/edit}">
    <label>Enter Name:</label>
    <input type="text" name="name" th:value="${event.name}">
    <label>Enter Description:</label>
    <input type="text" name="description" th:value="${event.description}">
    <input type="hidden" th:value="${event.id}" name="eventId">
    <input type="submit" value="Edit Event">
</form>
</body>
</html>